<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296080865845-lgs9e6u57td1d7vjdtdnnbge1f43kbd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296080865845-lgs9e6u57td1d7vjdtdnnbge1f43kbd5</string>
	<key>API_KEY</key>
	<string>AIzaSyAgzFBhndaH1AjfvSWOIGQjj6qfI5L-9mc</string>
	<key>GCM_SENDER_ID</key>
	<string>296080865845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moonho.dev.TCApp</string>
	<key>PROJECT_ID</key>
	<string>touchcounter-4d0ce</string>
	<key>STORAGE_BUCKET</key>
	<string>touchcounter-4d0ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296080865845:ios:d2fd425a7f141d625dcf7c</string>
	<key>DATABASE_URL</key>
	<string>https://touchcounter-4d0ce.firebaseio.com</string>
</dict>
</plist>